# Операционные системы
.DS_Store
Thumbs.db

# Python файлы
*.pyc
*.pyo
__pycache__/

# Файлы конфигурации
.env

# Лог-файлы
*.log

# Виртуальные окружения
venv/
.env/
*.env

# Файлы данных и отчётов
*.csv
